# Dokan Cloud Environments

# Admin credentials and URLs
ADMIN_URL=https://amazonbd2.flycom.shop
# ADMIN_URL=https://amazonbd2.staging.dokandev.com
ADMIN_EMAIL=sakifur@wedevs.com
ADMIN_PASSWORD=FahimTest004


# Vendor credentials and URLs
VENDOR_URL=https://amazonbd2.flycom.shop
# VENDOR_URL=https://amazonbd2.staging.dokandev.com
VENDOR_EMAIL=sakifur.rahman.swe@gmail.com
VENDOR_PASSWORD=sakifur.rahman.swe@gmail.com


# Customer credentials and URLs
CUSTOMER_URL=https://amazonbd2.flycom.shop
# CUSTOMER_URL=https://amazonbd2.staging.dokandev.com
CUSTOMER_EMAIL=sakifal024@gmail.com
CUSTOMER_PASSWORD=sakifal024@gmail.com

# Dokan cloud App credentials and URLs
DOKAN_CLOUD_URL=https://app.flycommerce.com
# DOKAN_CLOUD_URL=https://app.staging.dokandev.com
DOKAN_CLOUD_EMAIL=sakifur@wedevs.com
DOKAN_CLOUD_PASSWORD=FahimTest004
